<head>
  <link rel="stylesheet" href="{{ basePath }}/custom.css">
</head>
<h2>Job Relations</h2>

<div class="row">
  <div class="col-sm-2 right-buffer">
    <h5>Queue Name</h5>
    <input class="js-queue-input-search" type="text" name="queueNameInputSearch">
  </div>

  <div class="col-sm-2 right-buffer">
    <h5>Job Id</h5>
    <input class="js-job-id-input-search" type="text" name="jobIdInputSearch" value={{id}}>
  </div>

  <div class="col-sm-2 right-buffer">
    <h5>Tree depth</h5>
    <input class="js-depth-input-search" type="text" name="depthInputSearch">
  </div>

  <div class="col-sm-2 right-buffer">
    <h5>Limit Children</h5>
    <input class="js-max-children-input-search" type="text" name="maxChildrenInputSearch">
  </div>
</div>
<div class="row top-buffer">
  <div class="col-sm-3">
    <button class="btn btn-success js-find-tree">Display Tree</button>
  </div>
</div>

<div class="row top-buffer js-tree">
  <div class="col-sm-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Tree view</h4>
      </div>
      <div class="panel-body">
        <table class="table">
          {{#each stats}}
          <tr>
            <th>{{ @key }}</th>
            <th>{{ this }}</th>
          </tr>
          {{/each}}
        </table>
      </div>
    </div>
  </div>
</div>

{{#contentFor 'sidebar'}}
<li><a href="{{ basePath }}/">Queues Overview</a></li>
<li class="active"><a href="{{ basePath }}/flows">Job Relations</a></li>
{{/contentFor}}

{{#contentFor 'script'}}
new Tablesort(document.getElementById('flowList'));
{{/contentFor}}