<head>
  <link rel="stylesheet" href="{{ basePath }}/custom.css">
</head>
<h2>Job Finder</h2>
<div class="row">
  <div class="col-sm-2 right-buffer">
    <h5>Queue Name</h5>
    <input class="js-queue-input-search" type="text" name="queueNameInputSearch">
  </div>
  <div class="col-sm-2 right-buffer">
    <h5>Job Id</h5>
    <input class="js-job-id-input-search" type="text" name="jobIdInputSearch" value={{id}}>
  </div>
  <div class="col-sm-2 right-buffer">
    <h5>Tree depth</h5>
    <input class="js-depth-input-search" type="text" name="depthInputSearch">
  </div>
  <div class="col-sm-2 right-buffer">
    <h5>Limit Children</h5>
    <input class="js-max-children-input-search" type="text" name="maxChildrenInputSearch">
  </div>
</div>
<div class="row top-buffer">
  <div class="col-sm-3">
    <button class="btn btn-success js-find-tree">Display Tree</button>
  </div>
</div>
<div class="row top-buffer js-tree">
  <div class="col-sm-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Job Relations</h4>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6">
            <div id="tree"></div>
          </div>
          <div class="col-sm-6"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div id="tree"></div>
  </div>
  <div class="col-sm-6"></div>
</div>

{{#contentFor 'sidebar'}}
<li><a href="{{ basePath }}/">Queues Overview</a></li>
<li><a href="{{ basePath }}/flows/">Flows Overview</a></li>
<li class="active"><a href="#">Job Finder</a></li>
{{/contentFor}}

{{#contentFor 'script'}}
window.arenaInitialPayload = {
flowHost: "{{ flowHost }}",
connectionName: "{{ connectionName }}"
};
{{/contentFor}}